# Virtual environments
venv/
.env/


vectorstore/
faiss_index/
*.index
*.pkl

# Python cache
__pycache__/
*.pyc
*.pyo

# Build / dist
build/
dist/
*.egg-info/

# Logs
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
