version: '3.9'

services:
  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    restart: unless-stopped

  api:
    build: ./api-server
    container_name: nodejs-api
    ports:
      - "3020:3020"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URI=mongodb://mongo:27017/emailGroups
    depends_on:
      - redis
      - mongo
    restart: unless-stopped

  worker:
    build: ./worker
    container_name: worker
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URI=mongodb://mongo:27017/emailGroups
    depends_on:
      - redis
      - mongo
    restart: unless-stopped
